ul.error,
ul.warning,
ul.info,
ul.success {
	list-style-type : none;
}

ul.error {
	color : #7F0000;
}

ul.warning {
	color : #BC5100;
}

ul.info {
	color : #0D47A1;
}

ul.success {
	color : #1B5E20;
}

hr {
	margin-top    : 20px;
	border-bottom : 1px solid #CCCCCC;
	border-top    : none;
}

svg {
	margin : 0 10px 0 0;
}

