.autocomplete {
	position : relative;
}

.autocomplete-results {
	padding  : 0;
	margin   : 0;
	border   : 1px solid #EEEEEE;
	height   : 120px;
	overflow : auto;
	width    : 100%;
}

.autocomplete-result {
	list-style : none;
	text-align : left;
	padding    : 4px 2px;
	cursor     : pointer;
}

.autocomplete-result.is-active,
.autocomplete-result:hover {
	background-color : #4AAE9B;
	color            : white;
}